.header-container {
  display: flex;
  padding: 8px;
  align-items: center;
  background-color: #18181b; /* bg-zinc-900 */
  cursor: move;
  justify-content: space-between;
  border-radius: 6px;
  z-index: 99999;
  position: relative;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.operation-btn {
  color: white;
  padding: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 6px;
}

.operation-btn:hover {
  background-color: #3f3f46; /* hover:bg-zinc-700 */
}

.switch-btn {
  background-color: #78716c; /* gray */
}

.switch-btn-active {
  background-color: #92400e !important; /* amber */
}
